* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main_box {
    height: 100vh;
    background-image: url(photo.jpg);
    background-size: cover;
}
.btn_one i{
    color: white;
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu {
    position: fixed;
    left: -350px;
    height: 100vh;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    position: absolute;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;   
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5); 
}

.sidebar_menu .btn_two i {
    color: grey;
    position: absolute;
    line-height: 60px;
    left: 275px;
    font-size: 25px;
    opacity: 1;
    cursor: pointer;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    line-height: 30px;
    top: 100px;
}

.sidebar_menu .menu li {
    margin-top: 8px;
    padding: 15px 20px;
}
.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .social_media {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.sidebar_menu .social_media ul i {
    padding: 10px;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.btn_one i:hover {
    font-size: 40px;
}

.btn_two i:hover {
    font-size: 30px;
}
.sidebar_menu .social_media ul i:hover {
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu {
    left: 5px;
}
#check:checked ~ .btn_one {
    opacity: 0;
}
#check {
    display: none;
}